* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 24px;
  background-color: #eee;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.menu .time {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

.menu .buttons {
  display: flex;
  gap: 8px;
}

.menu .buttons button {
  width: 100px;
}

.game {
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px #ccc;
  background-color: #fff;
  outline: none;
}
